$mainFont: 'Varela Round', sans-serif;
$secondaryFont: 'Arial', sans-serif;

$mainColor: #3db39e;
$secondaryColor: #385461;
$tertiaryColor: #909090;

$mainFontSize: 16px;
$secondaryFontSize: 13px;
$middleFontSize: 25px; 
$bigFontSize: 35px;