    .block {
        flex: 1 1 250px;
        margin-bottom: 55px;
    }

        .block__icon {
            margin-bottom: 30px;
        }

        .block__title {
            font-family: 'Varela Round', sans-serif;;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            color: #385461;
            margin-bottom: 25px;
        }

        .block__text {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            line-height: 21px;
            letter-spacing: 0.03em;
            color: #909090;
        }
    