.portfolio-card {
    text-align: center;
    position: relative;
}

.portfolio-card:hover .portfolio-card__image-hovering {
        visibility: visible;
    }


.portfolio-card__image-hovering {
    transition: .1s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(161, 83, 81, .7);

    visibility: hidden;
}

.portfolio-card__image-title {
    position: absolute;
    left: 50%;
    width: 100%;
    top: 40%;
    transform: translateX(-50%);
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-weight: 400;
    
}

.portfolio-card__image-text {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.015em;
    color: #ffffff;
}

.portfolio-card__image {
    width: 100%;
}